---
---

@import "{{ site.theme }}";

// Add your custom styles here
/** Tables removed border*/
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: none; }

table th { background-color: #f0f0f0; border: none; }

table td { border: none; }